/* Write your CSS here! */
p {
    padding:10px; 
    margin: 8px;
}
body {
margin: 8px;
display: block;
background-color: beige;
}
#mainHeading {
    color: red;
}
.funParagraph {
    color: green;
}
h2{
    color: rgb(4, 121, 113);
    margin-top: 40px;
    padding-top: 22px;
}

.shrink-pic {
    max-width: 75%;
    max-height: 75%;
}
#enlarge-pic {
    max-width: 75%;
    max-height: 100%;
}
#footer {
    color: rgb(175, 71, 1);
}

